
<%- include('../partials/header_sub'); %>

<body>

    <p1>Detailed view of <%= number %></p1><br>
    <p1>Y axis data <%= data %></p1><br>
     <p1>X axis data <%= month %></p1><br>
     <p1>Detailed view of <%= allData %></p1><br>


    <canvas id="myChart" style="height:100%;max-height:600px; width:100%;max-width:600px"></canvas> 
    <!-- <canvas id="myChart" width="100" height="100"></canvas> -->
    
    <script>
       var xValues = ['Jan','Feb','Mar','Apr'];//,'May','Jun','July','Aug','Sept','Oct','Nov','Dec'];
    //    var yValues = <%data %>;//[7,8,8,9 ,9,9,10,11,14,14,15,20]; 
   
       const ctx = document.getElementById('myChart').getContext('2d');
       const myChart = new Chart(ctx, {
           type: 'line',
           data: {
               labels: xValues,
               datasets: [{
                   label: 'ROV%',
                   fill: false,
                   lineTension: 0,
                   backgroundcolor: "rgba(0,0,255,1.0)",
                   borderColor:'rgba(0, 0, 255, 0.5)',
                   data:<%=data%>     
               }]
           },
           options: {
               scales: {
                   y: {
                       // beginAtZero: true
                   }
               }
           }
       });
   </script> 

   </body> 
</html>

