<%- include('../partials/header_index'); %>

    <body>

        <% if(details!=null) { %>
            <table class="styled-table">
            <thead>
               <tr>
                    <th>Rank</th>
                    <th>Number </th>
                    <th>Organization</th>
                    <th>Country </th>
                </tr>
            </thead>
            <tbody>
            <% details.forEach(function(item){ %>
            <tr class="active-row">
                <td><%= item.rank%></td>
                <td><a href="/AS:<%= item.number %>"><%= item.number %></a></td>
                <td><%= item.organization%></td>
                <td><%= item.country %></td>     
            </tr>
            <% }) %>
        </tbody>
            </table>
            <% } %>

    </body>
</html>