<%- include('../partials/header_index'); %>

    <body>

        <% if(details!=null) { %>
            <table class="styled-table">
            <thead>
               <tr>
                    <th>Number</th>
                    <th>Organization </th>
                    <th>Rank</th>
                    <th>Total </th>
                    <th>FIlter </th>
                    <th>Remove </th>
                    <th>Ratio </th>
                </tr>
            </thead>
            <tbody>
            <% details.forEach(function(item){ %>
            <tr class="active-row">
                <td><a href="/AS:<%= item.asn %>"><%= item.asn %></a></td>
                <td><%= item.org_name%></td>
                <td><%= item.rank %></td>     
                <td><%= item.total %></td>     
                <td><%= item.filter %></td> 
                <td><%= item.remove %></td>     
                <td><%= item.ratio %></td>     
            </tr>
            <% }) %>
        </tbody>
            </table>
            <% } %>

    </body>
</html>